/* Globales */
:root {
    --color-primario: #a47c6b;
    --color-secundario: #6a8a63;
    --color-texto: #4b2e2b;
    --color-texto-secundario: #f5f5f5;
    --color-fondo-hero: #F5E9C9;
}

@font-face {
    font-family: 'Fuente_Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}

/* GLobales */
* {
    font-family: 'Fuente_Poppins';
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Para que: 1rem = 10px */
}

*,
*:before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1{
    font-size: 3.5rem;
}
h2{
    font-size: 2.3rem;
}
h3{
    font-size: 2rem;
}
p{
    font-size: 1.7rem;
}

/* Header */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primario);
    height: 20rem;

    padding: 0 5% 2rem 5%;
}

.header a {
    flex: 1;
}

.header a img {
    height: 12rem;
    width: auto;
}

.barra_de_navegacion a {
    display: block;

    color: var(--color-texto-secundario);
    text-align: center;
    line-height: 1.3;
    border-bottom: 1px solid var(--color-texto-secundario);
    font-size: 1.5rem;
    margin-right: 1rem;
}

@media (width > 768px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
    }

    .barra_de_navegacion {
        display: flex;
        justify-content: space-between;
    }

    .barra_de_navegacion a {
        display: inline;
        padding: 5px;
        border-bottom: none;
        font-size: 2rem;
    }
}

/* footer */

.footer {
    background-color: var(--color-secundario);
    color: var(--color-texto-secundario);
    padding: 2rem 1rem;

    padding-bottom: 0;
}

.footer__contenido {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #f7ebdb;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.footer__nav,
.footer__redes {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
}

.footer__nav {
    border-right: 1px solid #f7ebdb;
}

.footer__redes p {
    margin: 0;
}

.footer__derechos {
    margin: 0;
    text-align: center;
}

a,
.footer__derechos {
    color: var(--color-texto-secundario);
    font-size: 1.2rem;
}

@media (width > 768px) {
    .footer__redes{
        flex: 1;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        gap: 0;
        padding-top: 1rem;
    }
}