/* Hero */
/* Index */
.hero {
    text-align: center;
    background-color: var(--color-fondo-hero);
    padding: 2rem 1rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}

.hero__titulo {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0;
}

.hero__imagen {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 40rem;
}

.hero__boton {
    display: block;
    color: var(--color-texto);
    background-color: transparent;
    text-align: center;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-size: 2rem;
    border: 3px solid var(--color-texto);
    width: 100%;
    max-width: fit-content;
    cursor: pointer;
    position: relative;
}



.informacionHorario {
    word-spacing: 9px;
    background-color: var(--color-secundario);
    margin: 0;
    text-align: center;
    font-size: 3rem;
    padding: .3rem 1rem;
    color: var(--color-texto-secundario);
}

.seccionPrincipal {
    background-color: var(--color-primario);
    padding: 2rem;
}


.seccionPrincipal__articulo--titulo,
.seccionPrincipal__articulo--subtitulo,
.seccionPrincipal__articulo--parrafo {
    color: var(--color-texto-secundario);
    /* padding-bottom: .5rem; */
    margin: 1rem 2rem;

}
.seccionPrincipal__articulo--parrafo {
    letter-spacing: 0.2rem;
    /* margin: 4rem auto; */
}   

.seccionPrincipal__articulo--subtitulo {
    padding-bottom: 2rem;
    
}

.seccionPrincipal__articulo--imagen {
    margin-bottom: 1rem;
}

@media (width > 768px) {
    .seccionPrincipal {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }

    .seccionPrincipal__articulo--imagen {
        margin-bottom: 0;
    }

    .seccionPrincipal__articulo--titulo,
    .seccionPrincipal__articulo--subtitulo,
    .seccionPrincipal__articulo--parrafo {
        padding: .6rem 3rem;
    }
    .seccionPrincipal__articulo--subtitulo{
        padding-bottom: 3rem
    }

    h2 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: 2.6rem;
    }

    p {
        font-size: 2.2rem;
    }
}