:root {
    --color-primario: #a47c6b;
    --color-secundario: #6a8a63;
    --color-texto: #4b2e2b;
    --color-texto-secundario: #f5f5f5;
    --color-fondo-hero: #F5E9C9;
}

/* Hero */
/* Index */
.hero {
    text-align: center;
    background-color: var(--color-fondo-hero);
    padding: 2rem 1rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}

.hero__titulo {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0;
}

.hero__imagen {
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 40rem;
}

.hero__boton {
    display: block;
    color: var(--color-texto);
    background-color: transparent;
    text-align: center;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-size: 2rem;
    border: 1px solid var(--color-texto);
    width: 100%;
    max-width: fit-content;
    cursor: pointer;
    position: relative;
}



.informacionHorario {
    background-color: var(--color-secundario);
    margin: 0;
    text-align: center;
    font-size: 2rem;
    padding: .2rem 0;
    color: var(--color-texto-secundario);
}

.seccionPrincipal {
    background-color: var(--color-primario);
    padding: 2rem;
}


.seccionPrincipal__articulo--titulo,
.seccionPrincipal__articulo--subtitulo,
.seccionPrincipal__articulo--parrafo {
    color: var(--color-texto-secundario);
    padding-bottom: .5rem;
}

.seccionPrincipal__articulo--subtitulo {
    padding-bottom: 2rem;
    
}

.seccionPrincipal__articulo--imagen {
    margin-bottom: 1rem;
}

@media (width > 768px) {
    .seccionPrincipal {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }

    .seccionPrincipal__articulo--imagen {
        margin-bottom: 0;
    }

    .seccionPrincipal__articulo--titulo,
    .seccionPrincipal__articulo--subtitulo,
    .seccionPrincipal__articulo--parrafo {
        padding: .5rem 1rem;
    }
    .seccionPrincipal__articulo--subtitulo{
        padding-bottom: 3rem
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3.5rem;
    }

    p {
        font-size: 2.5rem;
    }
}