:root {}

/* hero */
.hero {
    background-image: url('../imagenes/contacto.webp');
    width: 100%;
    height: 40rem;
    min-width: 48rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    filter: grayscale(40%);
    filter: opacity(90%);
    filter: contrast(90%);

}

.hero__titulo {
    margin: auto;
    padding: 2rem;
    font-size: 5rem;
    text-align: center;
    align-items: center;
    color: var(--color-texto-secundario);
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}


/* contenido-principal */

.fondo-blanco {
    background-color: var(--color-texto-secundario);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.contenido-principal {
    background-color: var(--color-fondo-hero);
    border: 1px solid #DCBB7A;
    margin: 1rem;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30rem 35rem 30rem 35rem 10rem;

}

.contenido-principal__figura--ubicacion,
.contenido-principal__figura--telefono,
.contenido-principal__figura--mail,
.contenido-principal__figura--like {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contenido-principal__figura--imagen {
    max-height: 10rem;
    color: var(--color-texto);
}

.contenido-principal__figura--primerFotografia {
    grid-column: 1/3;
    width: 100%;
    max-height: 100%;

}

.contenido-principal__figura--segundaFotografia {
    grid-column: 1/3;
    grid-row: 4/5;
    width: 100%;
    max-height: 35rem;
}

.contenido-principal__figura--leyenda {
    color: var(--color-texto);
    font-size: 1.2rem;
    text-align: center;
    padding: 0 1rem;

}

.contenido-principal__boton-contacto {
    grid-column: 1/3;
    grid-row: 5/6;
    font-size: 2rem;
    width: 15rem;
    height: 5rem;
    border: 1px solid #DCBB7A;
    background-color: var(--color-texto-secundario);
    padding: 1rem;
    cursor: pointer;
    margin: auto;

}


.contenido-principal--parrafo-1,
.contenido-principal--parrafo-2 {
    display: none;
    
}

/* formulario */

.formulario {
    background-color: var(--color-fondo-hero);
    border: 1px solid #DCBB7A;
    margin: 1rem;
    padding: 1rem;
}

.formulario__titulo,
.formulario label {
    color: var(--color-texto);
    margin: 1rem 10%;
}

.formulario label {
    font-size: 1.3rem;
}

.formulario input,
.formulario textarea {
    display: block;
    margin-bottom: 1rem;
    align-items: center;
    margin: 1rem auto;
    width: 80%;
    height: 2.5rem;
    font-size: 1.5rem;
}

.botones_formulario{
    display: flex;
    justify-content: center;
    gap: 1rem; /* Espacio entre botones */
}
.formulario_btn_volver{
    font-size: 2rem;
    width: 15rem;
    height: 5rem;
    border: 1px solid #DCBB7A;
    background-color: var(--color-texto-secundario);
    padding: 0;
    cursor: pointer;

}
.formulario_btn_enviar{
    font-size: 2rem;
    width: 15rem;
    height: 5rem;
    border: 1px solid #DCBB7A;
    background-color: var(--color-texto-secundario);
    padding: 0;
    cursor: pointer;

}
.formulario textarea {
    height: 5rem;
}

@media (width > 768px) {
    .hero {
        max-width: 100%;
    }

    .contenido-principal {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 30rem 10rem 35rem 35rem;
    }

    .contenido-principal__figura--ubicacion {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .contenido-principal__figura--telefono {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .contenido-principal__figura--mail {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .contenido-principal__figura--like {
        grid-column: 4/5;
        grid-row: 1/2;
    }

    .contenido-principal__boton-contacto{
        grid-column: 1/5;
        grid-row: 2/3;
    }

    .contenido-principal__figura--primerFotografia{
        grid-column: 3/5;
        grid-row: 3/4;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }
    .contenido-principal__figura--segundaFotografia{
        grid-column: 1/3;
        grid-row: 4/5;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }

    .contenido-principal--parrafo-1{
        display: block;
        grid-column: 1/3;
        grid-row: 3/4;
        text-align: start;
        align-items: center;
    }
    .contenido-principal--parrafo-2{
        display: block;
        grid-column: 3/5;
        grid-row: 4/5;
        text-align: end;
        
        
    }

    .contenido-principal p{
        background-color: var(--color-texto);
        color: var(--color-texto-secundario);
        font-size: 2.2rem;
        padding: 1rem;
        line-height: 3rem;
        text-align: center;  
        font-size: 2.5rem;
    
    }
    
}